# Upgrade pip (not used by pip itself but noted)
pip>=24.0

# YOLOv8 / Ultralytics
ultralytics>=8.2.0

# OpenCV (headless for Raspberry Pi)
# OpenCV (headless for Raspberry Pi)
# opencv-python-headless>=4.8.0

# If using GUI (optional)
opencv-python>=4.8.0

# PyTorch (generic, may require replacement with ARM wheel)
torch>=2.1.0
torchvision>=0.16.0


# TensorFlow (for TFLite models)
tensorflow
flatbuffers==24.3.25

ncnn

# GPIO Control for Servo (Raspberry Pi 5 ONLY)
gpiozero>=2.0
rpi-lgpio  # Required for Raspberry Pi 5
